
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Receipe.Models.rcp_viewmodel>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<div class="alert alert-success" style="margin-top:15px">
    <strong>Add New Cost Sheet</strong>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">From Date:</span>
                    <div>
                        @Html.EditorFor(model => model[0].fromDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model[0].fromDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">To Date:</span>
                    <div>
                        @Html.EditorFor(model => model[0].toDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model[0].toDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-responsive table-hover table-striped" style="margin-top:15px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].ingredieList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].unitList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].deviation)
                </th>
            </tr>
            @for (int i = 0; i < 4; i++)
            {

                <tr>
                    @*<td> @Html.DropDownList("userId", null, "---Select User Name---", htmlAttributes: new { @class = "form-control" })</td>*@
                    <td>
                        @Html.DropDownList("IngredieList", new SelectList(ViewBag.IngredieList, "id", "name"), htmlAttributes: new { @class = "form-control" })
                    </td>
                    @*<td>
                            @Html.DropDownListFor(model => model[i].ingredieList, (SelectList)ViewBag.userId, "--Select One--", htmlAttributes: new { @class = "form-control" })
                        </td>*@
                    <td>
                        @Html.DropDownList("UnitList", new SelectList(ViewBag.UnitList, "code", "description"), htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model[i].price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model[i].price, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model[i].deviation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model[i].deviation, "", new { @class = "text-danger" })
                    </td>
                </tr>

            }
        </table>
        <div class="form-group " style="position: relative;">
            <div class="col-md-12">
                <input style="position: absolute; right: 8px; top: 5px;" type="submit" value="Create" class="btn btn-success" data-confirm="Do You Want To Save?" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        jQuery(document).ready(function () {
            jQuery('[data-confirm]').click(function (e) {
                if (!confirm(jQuery(this).attr("data-confirm"))) {
                    e.preventDefault();
                }
            });
        });
    </script>

}









