@model IEnumerable<Receipe.Models.rcp_ingredients_costsheet_child_t>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr>

<p>
    @Html.ActionLink("Create New", "Add", "Home", null, new { @class = "btn btn-success btn-large" })
</p>

<div class="alert alert-success">
    <strong>Ingredients Cost Sheet</strong>
</div>
 
<table class="table table-bordered table-responsive table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rcp_ingredients_costsheet_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingredients_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rct_ingredients_measurement_unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rec_standard_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rec_standard_deviation_percentage)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rcp_ingredients_costsheet_id)
            </td>

            <td>
                @Html.DropDownListFor(modelItem => item.ingredients_id, new SelectList(ViewBag.IngredieList, "id", "ingredieName", item.ingredients_id), htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.rct_ingredients_measurement_unit, new SelectList(ViewBag.UnitList, "id", "unitName", item.rct_ingredients_measurement_unit), htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rec_standard_cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rec_standard_deviation_percentage)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }, new { @class = "btn btn-primary btn-large" }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-info btn-large" }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-danger btn-large" })
                </td>*@
        </tr>
    }

</table>
